@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

#frontend-num {
    /* Position */
    left: 35%;
    top: 30%;

    /* Styling */
    font-size: 34vh;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ba2c80;

    /* Box Size */
    width: 30%;
}